.contacts{
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 101;
    height: 184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.artboard{
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    width: calc(100vw - 20px);
    z-index: -1;
    background-color: rgb(243 248 255);
    transform: translate(-50%);
}



.contacts__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: rgb(24 91 208);
    margin-bottom: 5px;
}
.contacts__description{
font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 30px;
}
.contacts__input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 367px) {
        flex-wrap: wrap;

        input{
            margin-bottom: 10px;
        }
       
    }
    input{
        border-radius: 13px;
    padding: 0 20px;
        outline: none;
    min-width: 0;
    cursor: text;
    background-color: rgb(255 255 255)!important;
    padding-left: 15px;
    color: rgb(13 26 78);
            border: 1px solid rgb(0 0 0 / 0%);
        height: 40px;
        margin-right: 10px;
        &::placeholder{
        color:#9999 ;
    }
    }
    
}